
<form class="form-search" action= "{{ asset ('homepage')}}" method="GET">
    <div class="form-group">
        <label for="search-type">Type</label>

        <select name= {% for type in types %} "{{  type.id }}" {% endfor %} id="search-type">

            {% for type in types %}
                <option> {{  type.name }}  </option>
            {% endfor %}

        </select>
    </div>
    {#  {% for type in types %}{{ type.minprice }}{% endfor %}#}
    <div class="form-group">
        <label for="search-price-from">min</label>
        <input type="number" id="search-price-from" min="0" value="0">
    </div>
    <div class="form-group">
        <label for="search-price-to">max</label>
        <input type="number" id="search-price-to" min="0" value="200">
    </div>
    <button type="submit" class="button button-primary">
        <i class="fa fa-search"></i>
        Rechercher
    </button>
</form>





