<form method="post" action="{{ path('booking_delete', {'id': accomodation.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ accomodation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
