{% extends 'base.html.twig' %}

{% block title %}Edition des logements{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}

    <section class="container home-content">

    <h1>Edition des logements {{ app.user.uName }}</h1>

    {{ include('accomodation/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('accomodation_index') }}">Revenir à la liste</a>

    {{ include('accomodation/_delete_form.html.twig') }}

    </section>

    {% endif %}

{% endblock %}
