{% extends 'base.html.twig' %}

{% block title %}Edition de Réservation{% endblock %}

{% block body %}
    <section class="container home-content">

    <h1>Edition de Réservation </h1>

    {{ include('booking/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('booking_index') }}">Revenir à la liste</a>

    {{ include('booking/_delete_form.html.twig') }}

    </section>
{% endblock %}
