{% extends 'base.html.twig' %}

{% block title %}Nouvelle location{% endblock %}

{% block body %}
    <section class="container home-content">
    <h1>Créer une nouvelle location</h1>

    {{ include('booking/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('booking_index') }}">Revenir à la liste</a>

    </section>
{% endblock %}
